body{
    margin: 10px;
    /*
    background-color: black;
    color: white;
    overflow: hidden;
    */
}

table{
    width: 100%;
    table-layout:fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

noscript{
    text-align: center;
    margin: auto;
}
noscript meme{
    display: block;
    background-image: url(../media/nojs.png);
    background-repeat: repeat;
    height: 100vh;
}
